@media (max-width: 830px) {

    .page-logo {
        width: 52.19px;
        height: 30.75px;
        margin-bottom: 44.6px;
        margin-top: 36px;
    }

    .first-page-first-section {
        flex-direction: column;
    }

    .navbar-items {
        display: flex;
        margin-right: 15px;
    }

    .navbar-items img {
        width: 12.74px;
        margin-right: 10px;
    }

    header,
    main,
    footer {
        margin-left: 35px;
    }

    h1 {
        font-size: 37px;
        width: 292.63px;

    }

    .h1-under {
        width: 212.4px;
        font-size: 10px;

    }

    .image-right {
        width: 141.68px;
        height: 175.1px;
    }

    .box1 {
        width: 225.36px;
        height: 93.19px;
        margin-bottom: 75px;
    }

    .box1-in {
        width: 200.64px;
        height: 52.65px;
        font-size: 11px;
        padding: 9px 12px 0 12px;
    }

    .box1-under {
        font-size: 10px;
        padding-right: 8px;
    }

    h2 {
        font-size: 26px;
    }
    .h22{
        margin-top: 76px;
    }
    .second-page-h2-first{
        font-size: 26px;
    }

    .kurs {
        width: 308.47px;
        font-size: 12px;
    }

    .group_24 {
        width: 170.55px;
        height: 160.29px;
        margin-top: 17px;
        margin-left: 100px;
    }

    .group_25 {
        display: none;
    }

    .second-main {
        flex-direction: column;
    }

    .second-page-footer {
        width: 400px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .ul-two {
        flex-wrap: wrap;
    }

    .ul-two,
    .olh4,
    .h4-bir,
    .p-stoimost,
    .contact,
    .p-wrap-items,
    .ul-three {
        font-size: 12px;

    }

    .navbar-p,
    .h1-under,
    .ul-two-in-p,
    .ol1-p,
    .p-ekaterina-one,
    .p-bir,
    .yekun {
        font-size: 10px;
    }

    .rubl {
        font-size: 37px;
    }

    .for-wrap,
    .ol1 {
        flex-direction: column;
    }

    .ol1 {
        justify-content: space-between;
    }

    .wrap-items {
        width: 185.92px;
        height: 152.84px;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }

    .main-page-five {
        width: 376px;
        height: 423px;
        padding: 42px 32px 53px 36px;
    }

    .p-ekaterina-one {
        padding: 21px;

    }

    .p-ekaterina-two {
        font-size: 14px;
    }

    .ekaterina-photo-in-div {
        align-items: center;
    }

    .woman {
        width: 80px;
        height: 84px;
    }

    .h2-page-five {
        margin-bottom: 30px;
    }


    .main-page-six {
        height: 363.46px;
        width: 376px;

    }

    .main-last {
        padding: 62px 10px 63px 56px;
        margin-top: 10px;
    }

    .p-stoimost {

        margin-top: 24px;
    }

    .rubl {
        margin-bottom: 0px;
    }

    .bir {
        width: 138px;
        height: 47px;
        margin-right: 10px;
    }

    .footer-page {
        width: 376px;
        height: 390px;
    }

    .wrap-items img {
        width: 185.92px;

    }

    .h4-wrap-items {
        width: 170.08px;
        font-size: 14px;
        margin-bottom: 15px;

    }

    .items {
        margin-left: 10px;
    }

    .itemslast {
        margin-bottom: 0px;
    }

    .ekaterina {
        width: 308px;

    }

    .p-ekaterina-one {
        width: 266px;
    }

    .container-end {
        margin-top: 23px;
        margin-left: 56px;
    }

    .last-page-footer {
        flex-direction: column;

    }

    .contact {
        margin-left: 56px;

    }

    .yekun {
        margin-left: 56px;
    }

    .icons-icons {
        width: 15.38px;
        height: 15.38px;
    }

    .contact-icon {
        width: 12.18px;
        
    }
    .for-wrap{
        margin-bottom: 47px;
        align-items: center;
    }
    .h2-page-four {
        margin-top: 80px;
        margin-bottom: 40px;    
    }
    .h2-page-three {
        margin-top: 45px;
        margin-bottom: 15px;
    }
    .ol-ol{
        margin-bottom: 30px;
    }
    .vebinar {
        margin-top: 30px;
    }
    .ul-three{
        width: 300px;
    }
    .div-wrap{
        width: 150px;
        margin-bottom: 10px;
    }



}