@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.for-center {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto';
}

.first-page-first-section,
.ana-blok,
.umumi,
.navbar-menu,
.first-section,
.second-main,
.ol1 {
    display: flex;
}

h2 {
    font-size: 55px;
}

.page-logo {
    width: 112px;
    margin-bottom: 96px;
    margin-top: 21px;
}

.navbar-items {
    display: flex;
    align-items: center;
    margin-right: 55px;
}

.navbar-items img {
    width: 22.74px;
    margin-right: 10px;
}

.navbar-p {
    font-weight: 400;
    line-height: 115%;
}

.main-first-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.only-h1 {
    margin-top: 20px;
}

h1 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    width: 628px;
    margin-bottom: 0px;
}

.h1-under {
    line-height: 150%;
    width: 414px;
    margin-top: 20px;
}

.image-right {
    width: 305px;
    margin-left: 120px;
}

.box1 {
    width: 483.63px;
    height: 200.02px;
    background: #1E4681;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 170px;
    margin-top: 39px;
}

.for-box1 {
    display: flex;
    justify-content: center;
}

.box1-in {
    font-family: 'Roboto Slab';
    font-size: 25px;
    line-height: 130%;
    width: 430.59px;
    display: flex;
    padding: 30px;

}

.box1-under {
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    padding-right: 19px;
}

.second-page-h2-first {
    font-family: 'Roboto Slab';
    font-size: 55px;
    line-height: 101.38%;
    width: 365px;
    margin-bottom: 50px;
}

.kurs {
    font-size: 24px;
    line-height: 150%;
    width: 662px;
}

.group_24 {
    margin-top: 170px;
    margin-left: 164px;
    width: 314px;
}

.div-for-box {
    display: flex;
    justify-content: center;
}

.second-page-footer {
    display: flex;
    margin-top: 94px;
    align-items: center;
    justify-content: space-between;
}

.ul-two h4 {
    font-size: 25px;
    line-height: 130%;
}

.ul-two p {
    font-size: 18px;
    line-height: 130%;
}

ol {
    list-style: none;
}

.olh4 {
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
    color: #1E4681;
}

.ol-ol {
    width: 271px;
    margin-bottom: 15px;
}

.h22 {
    margin-top: 178px;
}

.vebinar {
    margin-top: 89px;
}

.div-in-div {
    display: flex;
    flex-direction: column
}

.h2-page-three {
    margin-top: 179px;
    margin-bottom: 15px;
}

.ul-three {
    width: 600px;
    font-size: 24px;
    line-height: 150%;
}

.for-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 121px;
}

.wrap-items {
    width: 399px;
    height: 399px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.h2-page-four {
    margin-top: 230px;
    margin-bottom: 95px;
}

.h4-wrap-items {
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 32px;
}

.items {
    margin-left: 20px;
    width: 365px;
}

.p-wrap-items {
    font-size: 25px;
    line-height: 130%;
}

.h2-page-five {
    margin-bottom: 63px;
}

.ekaterina {
    width: 791px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-bottom: 29px;
}

.ekaterina-photo-in-div {
    display: flex;
    margin-left: 26px;
    align-items: center;
}

.p-ekaterina-one {
    padding: 40px 45px;
    line-height: 150%;
    width: 700px;

}

.p-ekaterina-two {
    font-family: 'Roboto Slab';
    font-size: 30px;
    line-height: 101.38%;
    font-weight: 700;

}

.main-page-five {
    height: 780px;
    background: #EFEFEF;
    padding: 91px 331px 111px 122px;
    box-sizing: border-box;
}

.main-page-six {
    height: 780px;
    background: #9DC9C8;
}

.p-stoimost {
    font-size: 25px;
    line-height: 101.38%;
    margin-top: 54px;
}

.rubl {
    font-size: 80px;
    line-height: 101.38%;
    margin-bottom: 50px;
}

.h4-bir {
    font-size: 25px;
    line-height: 101.38%;
    margin-bottom: 15px;
}

.p-bir, .ul-two-in-p, .ol1-p {
    font-size: 18px;
    line-height: 101.38%;
}

.bir {
    width: 294px;
    margin-right: 70px;
    margin-top: 50px;
}

.main-last {
    padding-top: 134px;
    padding-left: 122px;
    margin-top: 10px;
}

.footer-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
    background: #000000;
}

.last-page-footer {
    display: flex;
    justify-content: space-between;
}

.icons-icons {
    margin-right: 25px;
}

.phone-number,
.email {
    display: flex;
    margin-right: 147px;
    margin-bottom: 20px;
}

.contact {
    font-size: 25px;
    line-height: 101.38%;
    margin-top: 60px;
    margin-right: 147px;
    color: #FFFFFF;
    margin-right: 30px;
}

.container-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 121px;
}

.footer-logo {
    width: 115px;
}

.social-icons {
    margin-top: 30px;
}

.yekun {
    font-size: 18px;
    line-height: 101.38%;
    color: #ffffff;
    margin-left: 121px;
    margin-bottom: 25px;
}

.contact p {
    margin-left: 22px;
}

.ul-two,
.olh4,
.h4-bir,
.p-stoimost,
.contact,
.p-wrap-items,
.ul-three,
.div-wrap-h4 {
    font-size: 25px;
}

.navbar-p,
.h1-under,
.ul-two-in-p,
.p-ekaterina-one,
.p-bir,
.yekun {
    font-size: 20px;
}